
.mb-3 {
  margin-bottom: 1rem;
}

.dividing-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 20px 0;
  gap: 10px;
}

.dividing-line > span {
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
}

.line-small {
  border-top: 1px solid #ddd; 
  width: 3%;
}

.line-big {
  border-top: 1px solid #ddd; 
  width: 97%;
}

.single-row-2, .single-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}


.single-row-3 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.single-row-3 > div {
  width: 33.3%;
}

.single-row-2 > div {
  width: 50%;
}

.single-row > div {
  width: 100%;
}

.single-row-2 > div > p, .single-row-3 > div > p, .single-row > div > p {
  margin-top: 10px;
  color: var(--lightTextColor);
}

.agreement-section-review-tab {
  border: 1px solid var(--lightBorderColor);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  margin: 20px 0;
  border-radius: 4px;
}
