.paymeny-selection-type {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 20px;
}

.content-payout-container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.paymeny-selection-type > li {
  display: flex;
  border: 1px solid var(--lightBorderColor);
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: .3s;
  gap: 20px;
}

.paymeny-selection-type > li > h4 {
  font-size: 1.1rem;
  font-weight: 300;
}

.paymeny-selection-type > li > i {
  font-size: 1.3rem;
}

.paymeny-selection-type > li:active {
  transform: scale(.95);
}

.active-selected-payment {
  border-color:  var(--primary) !important;
}

.form-data-payout {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid var(--lightBorderColor);
  padding: 20px 30px;
  border-radius: 4px;
  justify-content: center;
  transition: .3s all ease-in-out;
  opacity: 0;
  transform: scale(.8);
}

.e-trander {
  width: 100%;
  transition: .3s all ease-in-out;
  opacity: 0;
  transform: scale(.8);
}



.form-direct-deposti-form {
  width: 100%;
  display: flex;
  transition: .3s all ease-in-out;
  opacity: 0;
  transform: scale(.8);
  flex-direction: column;
}

.show-payout {
  opacity: 1;
  display: flex;
  transform: scale(1);
}

.form-direct-deposti-form > div {
  display: flex;
  gap: 10px;
}


.form-direct-deposti-form > div:first-child > div:first-child {
  width: 150%;
}
