.container-dashboard {
  border: 1px solid;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.container-dashboard main {
  width: 100%;
}
.side-bar-menu-dashboard {
  border-right: 1px solid var(--lightBorderColor);
  max-width: 300px;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.logo-dashboard-container-left {
  border-bottom: 1px solid var(--lightBorderColor);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-dashboard-container-left > a > img {
  width: 100%;
  max-width: 200px;
  padding: 20px;
}

.dashboard-nav {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.dashboard-nav > span {
  margin: 24px 0 12px;
  text-transform: uppercase;
  font-size: .75rem;
  color: var(--lightTextColor);
  font-weight: 500;
}

.dashboard-nav > ul {
  list-style-type: none;
  margin-top: 5px;
}

.dashboard-nav > ul > li > a {
  display: flex;
  text-decoration: none;
  color: var(--darkColor);
  padding: 15px 15px;
  margin-bottom: 2px;
  transition: .2s all ease-in-out;
  font-size: .95rem;
  font-weight: 300;
  display: flex;
  gap: 25px;
  border-radius: 4px;
}

.dashboard-nav > ul > li > a:hover {
  background-color: var(--primaryTransparent);
}

.user-profile {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primaryTransparent);
}

.user-profile > div  {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.user-profile-text > h3 {
  font-weight: 400;
  font-size: 1.2rem;
}

.user-profile-text > span {
  font-weight: 300;
  font-size: .8rem;
  color: var(--lightTextColor);
}

.user-profile > button {
  border: none;
  transition: .3s;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  color: var(--lightColor);
  font-size: 1.3rem;
  background-color: var(--primary);
}

.user-profile > button:hover {
  background-color: var(--primaryHover);
}

.house-cards{
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100px;
  height: 100px;
  padding: 10px;
}

.house-cards:hover{
  border: 1 px solid var(--primary);
  border-radius: 2px;
  cursor: pointer;
}

.house-cards-title{
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.house-card-img{
  width: 200px;
  height: 150px;
}
.content-dashboard-data {
  display: flex;
  justify-content: center;
}

.single-pages-content-sizing-limit-width {
  max-width: 1700px;
  width: 100%;
  padding: 30px;
}
