.login-form-auth-12 {
  padding: 20px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-auth-12-container {
  max-width: 600px;
  flex-direction: column;
  display: flex;
}

.auth-12-login-header-text {
  margin-bottom: 1.5rem;
}

.auth-12-login-header-text > h2 {
  font-weight: 300;
  font-size: 2.3rem;
  margin-bottom: 5px;
}

.auth-12-login-header-text > h4 {
  color: var(--lightTextColor);
  font-weight: 300;
}

.auth-12-check-forgot-link {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  margin-top: 0;
}


/* STYLE E */

.checkbox.style-e {
  display: inline-block;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-e input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-e input:checked ~ .checkbox__checkmark {
  background-color: var(--primary);
}
.checkbox.style-e input:checked ~ .checkbox__checkmark:after {
  left: 21px;
}
.checkbox.style-e:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-e:hover input:checked ~ .checkbox__checkmark {
  background-color: var(--primary);
}
.checkbox.style-e .checkbox__checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 22px;
  width: 40px;
  background-color: #eee;
  transition: background-color 0.25s ease;
  border-radius: 11px;
}
.checkbox.style-e .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  transition: left 0.25s ease;
}
.checkbox.style-e .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 16px;
  transition: color 0.25s ease;
}

/* STYLE E */