.setup-wizzard-container-for-all-elements {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
  display: flex;
  max-height: 700px;
  height: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.button-action-setup-wizzard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button-action-setup-wizzard > button {
  width: 120px !important;
}

.align-item-center {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.snow-show {
  transition: .3s all ease-in-out !important;
  opacity: 1;
}

.address-form-container-setupWizzared {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.address-form-container-setupWizzared > div {
  display: flex;
  width: 100%;
  gap: 0;
  flex-direction: column;
}

.col-2-fields{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  width: 100%;
}

.flex-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100% !important;
  
}

.aggrement-slide-absolute {
  position: absolute;
  border: 1px solid;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease-in-out;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, .5);
}


.aggrement-slide-absolute > div {
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease-in-out;
  max-height: none;
}

.show-agreement {
  opacity: 1  !important;
  visibility: visible !important;
}